<!DOCTYPE html>
<html>
<head>
<div class="text-center">
<h1><%= @employee.employee_name.titleize %>'s Profile </h1> <br>
</div>
  <style>
  body {
     background-image: url("/assets/Astrodome_Construction.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center center;
  } 
</style>
<hr>
</head>
<body>

<div class="ex1">
<h4><strong>Username:</strong> <%= @employee.username %></h4><br>
<h4><strong>Email:</strong> <%= @employee.email %></h4><br>
<h4><strong>Years Working:</strong> <%= @employee.years_working %></h4><br>
<h4><strong>Days Taken Off:</strong> <%= @employee.num_of_days_taken_off %></h4><br></div>
</div>

<div class="text-center">
<% if @employee.requests %>
    <% @employee.requests.each_with_index do |request, index| %>
        <div class="d-flex justify-content-center">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
         <div class="card-body">
            <% new_i = index + 1 %>
            <h5 class="card-title">Request: <%= new_i %> </h5>
                <br>
                Manager: <%= request.manager.manager_name %><br>
                Reason: <%= request.reason.reason %><br>
                Details: <%= request.explanation %><br>
                <% if request.approve_or_deny != "" %>
                    approved: <%= request.approve_or_deny %><br>
                    explanation: <%= request.man_explanation %><br>
                <%end%>
                <br>
            </div>
        </div>
        </div>
    <% end %>
 <% end %>
<div class="text-center">
<%= button_to "New request", new_request_path, {:class => "btn btn-primary btn-lg" } %>
</div>
<br>
<br><br>
</body>
</html>