<!DOCTYPE html>
<html>
    <head>
    </head>
 <body>

<h1>Manager Setup</h1>
<div class="text-center">
<div class="errors">
<% if flash[:errors] %>
<div id="error_explanation">
    <h2 style="color: red;">
    <%= pluralize(flash[:errors].count, "error") %>
    prohibited this Manager from being created:
    </h2>


    <% flash[:errors].each do |msg| %>
        <ul style="color: red;"><%= msg %>
        </ul>
    <% end %>
</div>
<% end %>
</div>


<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Create Manager</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fill in form below</h6>

<div><%= form_with model:@manager do |f| %>

    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.label :passcode %><br>
    <%= f.password_field :passcode %><br>
<br>
    <%= f.submit "Create Manager", {:class => "btn btn-primary btn-lg" }   %></div>
</div>
<% end %>
    </div>
    </div>

<br><br>
</body>
</html>