
<h1><%= @manager.first_name %>'s Profile</h1><br>
<hr>

<div><h2><em><%= @manager.manager_name %></em></h2><br>
<p><strong>Username:</strong> <%= @manager.username %></p><br>
<p><strong>Email:</strong> <%= @manager.email %></p></div>
<br>
<h3>Employee Requests</h3>


<ul>
<% @manager.requests.each do |req| %>

    <p>Reason: <%= req.reason.reason %></p>
    <p>Explanation: <%= req.explanation %></p>
    <p>summary: <%= req.man_explanation %></p>
    <p>approval: <%= req.approve_or_deny %></p>

     <%if req.approve_or_deny == "" %>
            <%= form_with model:req do |f| %>
                <p><%= f.label "Summary" %></p>
                <p><%= f.text_area :man_explanation %></p>

                <%= f.select :approve_or_deny, ["Approved", "Denied"] %><br>
               
                <%= f.submit %>
                <hr>
            <% end %>
        <% end %>
        <hr>
    <% end %>
</ul>
<hr>
<h2>Manager Tools</h2><br>

<%= button_to "Create New Manager", new_manager_path, :method => :get %><br>

<%= button_to "Create New Employee", new_employee_path, :method => :get %><br>

<%= button_to "Create New Reason", new_reason_path, :method => :get %><br>

<%= button_to "Logout", logout_path %>


