
<h1><%= @manager.first_name %>'s Profile</h1><br>
<hr>

<div><h2><em><%= @manager.manager_name %></em></h2><br>
<p><strong>Username:</strong> <%= @manager.username %></p><br>
<p><strong>Email:</strong> <%= @manager.email %></p></div>
<br>
<h3>Employee Requests</h3>


<ul>
<% @manager.requests.each do |req| %>
<p>Reason: <%= req.reason.reason %></p>
<p>Explanation: <%= req.explanation %></p>

<%= form_with model:req do |f| %>
<p><%= f.label "Summary" %></p>
<p><%= f.text_area :man_explanation %></p>

<p><%= f.label :approve_or_deny %></p>
<p><%= f.text_field :approve_or_deny %></p>

<%= f.submit %>

    <% end %>
<% end %>
</ul>

<%= button_to "Logout", logout_path %>