<!DOCTYPE html>
<html>
  <head>
<style>
  body {
     background-image: url("/assets/Be_Someone.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center center;
  } 
</style>

<h1 id="manager"><%= @manager.manager_name.titleize %>'s Profile</h1><br>
</head>
<hr>
<body>

<div class="text-right">
<h4><strong>Username:</strong> <%= @manager.username %></h4><br>
<h4><strong>Email:</strong> <%= @manager.email %></h4>
</div>

<div class="text-center">
<h2>Employee Requests</h2>


<% if params[:sort] == "true" %>
<div class="sort">
    <%= link_to "Sort by request date ⬇", "#{manager_path}?sort=false" %>
</div>
    <% @manager.requests.sort_by{|request| request.updated_at}.each do |req| %>
        <div class="d-flex justify-content-center">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
         <div class="card-body">
         <h4 class="card-title">Request</h4>
        <p>Reason: <%= req.reason.reason %></p>
        <p>Explanation: <%= req.explanation %></p>
        <p>summary: <%= req.man_explanation %></p>
        <p>approval: <%= req.approve_or_deny %></p>

        <%if req.approve_or_deny == "" %>
                <%= form_with model:req do |f| %>
                    <p><%= f.label "Summary" %></p>
                    <p><%= f.text_area :man_explanation %></p>

                    <%= f.select :approve_or_deny, ["Approved", "Denied"] %><br>
                
                    <%= f.submit %>
                    <hr>
                <% end %>
            <% end %>
          
            </div>
        </div>
        </div>
        <% end %>
    </ul>
<% else %>
<div class="sort">
<%= link_to "Sort by request date ⬆", "#{manager_path}?sort=true" %>
</div>
<% @manager.requests.sort_by{|request| request.updated_at}.reverse.each do |req| %>
    <div class="d-flex justify-content-center">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
         <div class="card-body">
         <h4 class="card-title">Request</h4>
    <p>Reason: <%= req.reason.reason %></p>
    <p>Explanation: <%= req.explanation %></p>
    <p>summary: <%= req.man_explanation %></p>
    <p>approval: <%= req.approve_or_deny %></p>

     <%if req.approve_or_deny == "" %>
            <%= form_with model:req do |f| %>
                <p><%= f.label "Summary" %></p>
                <p><%= f.text_area :man_explanation %></p>

                <%= f.select :approve_or_deny, ["Approved", "Denied"] %><br>
               
                <%= f.submit %>
                <hr>
            <% end %>
        <% end %>
        </div>
        </div>
        </div>
    <% end %>
</ul>
<% end %>


<h2>Manager Tools</h2><br>
<span class="buttonalign">
<%= button_to "Create New Manager", new_manager_path, :class => "btn btn-primary btn-lg", :method => :get %><br>
</span>
<%= button_to "Create New Employee", new_employee_path, :class => "btn btn-primary btn-lg", :method => :get %><br>

<%= button_to "Create New Reason", new_reason_path, :class => "btn btn-primary btn-lg", :method => :get %><br>

<%= button_to "Logout", logout_path, :class => "btn btn-primary btn-lg" %>

<br><br>
</div>
</body>
</html>
