<!DOCTYPE html>
<html>
    <head>
    </head>
 <body>

<h1> Create New Reason </h1>
<div class="text-center">
<%= form_with model: @reason do |f| %>

<% if flash[:errors] %>
<div id="error_explanation">
    <h2 style="color: red;">
    <%= pluralize(flash[:errors].count, "error") %>
    prohibited this Reason from being created:
    </h2>

    
    <% flash[:errors].each do |msg| %>
    <ul style="color: red;"><%= msg %> </ul>
    <% end %>
   
</div>
    <% end %>

    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <div class="card-body">
       
        <h6 class="card-subtitle mb-2 text-muted">Fill in form below</h6>
            <%= f.label :reason %>
            <%= f.text_field :reason %><br>
            <br>
            <%= f.submit "Create Reason", {:class => "btn btn-primary btn-sm" }    %>
            </div>
            </div>
<% end %>
</div>
<br><br>
</body>
</html>