<h1>new request</h1>

<%= form_with model: @request do |f|%>
  Manager: <%= f.collection_select :manager_id, Manager.all, :id, :first_name %><br>
    Reason: <%= f.collection_select :reason_id, Reason.all, :id, :reason %><br>

    <%=f.label "Details:" %><br>
    <%= f.text_area :explanation %><br>

    <%= f.submit %>
<% end %>
